<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
      <h1> id="h11">I'm am h1</h1>
      {% include header.html %}
      <lu>
          <a class="agreen" href="https://meeladpro.github.io/">Meelad Link</a>
        </li>
        <li>
          <a class="agreen" href="https://jeelanpro.github.io/">Jeelan Link</a>
        </li>
        <li>
          <a class="agreen" href="https://Shabanpro.github.io/">Shaban Link</a>
        </li>
      </lu>
      <h2>I'm am h2</h2>
      <div class="divred">
        <h3>Meelad Website Link</h1>
        <a class="agreen" href="https://meeladpro.github.io">here</a>
        <p>
          This is a testing and learning website and you can visit this if you want you can visit whenever you want. This website was made during learning and this website will gonna change it is not gonna stay like this.
        </p>
      </div>
      <div class="divred">
        <h3>JeelanPro Website</h3>
        <a class="ared" href="https://jeelanpro.github.io">Visit My Brother Jeelan Website</a>
        <p>
          Visit many things and have fun! Website minecraft playing and ect...
      </div>
      <div class="divred">
        <h3>ShabanPro Website</h3>
        <a class="ayellow" href="https://shabanpro.github.io/">Visit My Brother Shaban Website</a>
        <p>
          Just Visit this website i don't know what my brother has made
        </p>
      </div>
      {% include footer.html %}
  </body>
</html>
